<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Notepad-Application</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	

	<!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-kit.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="assets/css/myfab.css">
	<link href="assets/css/demo.css" rel="stylesheet" />

</head>

<body class="index-page" ng-app="eva" ng-controller="notesCtrl">
<nav class="navbar navbar-info navbar-fixed-top">
	                    	<div class="container-fluid">
								<div class="navbar-header">
	                            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-icons">
		                                <span class="sr-only">Toggle navigation</span>
		                                <span class="icon-bar"></span>
		                                <span class="icon-bar"></span>
		                                <span class="icon-bar"></span>
	                            	</button>
	                            	<a class="navbar-brand" href="#">My notePad</a>
	                            </div>

	                            <div class="collapse navbar-collapse" id="example-navbar-icons">
	                            	<ul class="nav navbar-nav navbar-right">
	                        			<li>
											<a href="#pablo" title="Profile"><i class="material-icons">search</i></a>
										</li>
	                            		<li>
											<a href="#pablo" title="Profile"><i class="material-icons">face</i></a>
										</li>
	                                	<li class="dropdown">
	                                		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<i class="material-icons">menu</i>
												<b class="caret"></b>
											</a>
	                                    	<ul class="dropdown-menu dropdown-menu-right">
	                                    		<li class="divider"></li>
	                                        	<li class="dropdown-header">More</li>
	                                        	<li onclick="settings()"><a href="#">Settings</a></li>
		                                        <li onclick="about()"><a href="#">About</a></li>
		                                        <li onclick="help()"><a href="#">Help</a></li>
		                                        <li class="divider"></li>
		                                    </ul>
	                                	</li>
	                            	</ul>
	                            </div>
							</div>
	                    </nav>
<div style="margin:15%;">
</div>

<style type="text/css">
	li{
		list-style: none;
		font-size: bold;
	}
</style>
<div class="main main-raised" style="margin-bottom: 5%;width:75%; margin-left: 2.5%; padding-top:0.5%;height: 1%;" ng-repeat="note in notes">
	<div class="section section-basic container">
			<div class="title">
			<h5 style="margin-bottom:-5.5%; margin-left: 3%; margin-top: -2.5%;">Title: {{note.title}}<br>
			<small>Body: {{note.body}}</small><br>
			<small>Date Added: {{note.date}}</small>
			<div style="margin-left:75%;">
			<button><i class="material-icons">mode_edit</i></button>
			<button ng-click="delete()"><i class="material-icons">delete</i></button>
			<div id="result"></div>
			</div>

			</h5>
		    </ul>
			</div>
			
	</div>
	
</div>
<!-- FAB start -->
	         <button class="btn" id="floating-button" data-toggle="modal" data-target="#myModal">
	                <p class="plus">+</p>
	                  </button>

<!-- Sart Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">Add a note to your Notebook</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Title</label>
								<input type="text" class="form-control" ng-model="noteTitle" ng-model-instant>
							</div>
						</div>
				<div class="col-md-12">
							<div class=bs-example data-example-id=glyphicons-general> <div class=btn-toolbar role=toolbar> 
								<div class=btn-group> 
										<button type=button class="btn btn-default" aria-label="Left Align">
												<span class="glyphicon glyphicon-align-left" aria-hidden=true></span>
										</button> 
										<button type=button class="btn btn-default" aria-label="Center Align">
												<span class="glyphicon glyphicon-align-center" aria-hidden=true></span>
										</button>
										<button type=button class="btn btn-default" aria-label="Right Align">
												<span class="glyphicon glyphicon-align-right" aria-hidden=true></span>
										</button>
 										<button type=button class="btn btn-default" aria-label=Justify>
 												<span class="glyphicon glyphicon-align-justify" aria-hidden=true></span>
 										</button>
  								</div>
							</div>
							<div class="form-group label-floating">
								<label class="control-label">Your note goes here</label>
								<textarea class="form-control" rows="10" ng-model="noteBody" ng-model-instant></textarea>
							</div>
						</div>
			</div>
			<div class="modal-footer">				
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default btn-simple" ng-click="save()" data-dismiss="modal">Save Note</button>
			</div>
		</div>
	</div>
</div>
</div>
<!--  End Modal -->
<!-- FAB end -->

</body>
<!--   Core JS Files   -->
	<script src="assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/material.min.js"></script>

	<!-- Control Center for the main css activating the ripples, and other cool features -->
	<script src="assets/js/material-kit.js" type="text/javascript"></script>

	<script type="text/javascript" src="node_modules/angular/angular.js"></script>

	<!-- Script for the FAB -->
	<script src="assets/js/myscript.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
	<script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
	<script type="text/javascript" src="assets/js/ngStorage.js"></script>
</html>
